.container {
    text-align: center;
}

.pokeContainerDoNotTouch{
    width: 169px;
    height: 169px;
}

.hidden {
    display: none;
}

.pokedexContainer { 
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: white;
    background: black;
}